@model List<yorokoanime.ViewModels.MangaModel>

<h2 class="text-left mb-4 mt-4">Your Top Manga</h2>
<hr></hr>

<!-- Carousel Container -->
<div class="container position-relative">

    <!-- Anime List Wrapper -->
    <div id="mangaCarousel" class="anime-list d-flex overflow-hidden user-card">
        @if (Model != null)
        {
            foreach (var manga in Model.Take(5))
            {
                <div class="anime-item card">
                    <img src="@manga.ImageUrl" class="card-img-top" alt="@manga.Title">
                    <div class="card-body text-center">
                        <a class="card-title" asp-controller="Card" asp-action="MangaCard" asp-route-malID="@manga.MalId">
                            @manga.Title
                        </a>
                        <p class="card-text"><strong>Volumes Read:</strong> @manga.userVolumes/@manga.Volumes</p>
                        <p class="card-text"><strong>Chapters Read:</strong> @manga.userChapters/@manga.Chapters</p>
                        <p class="card-text"><strong>Rating:</strong> @manga.userRating</p>
                    </div>
                </div>
            }
        }
    </div>
    
</div>